.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

.cookbook_version
.gitignore
.RETRYABLE_KITCHEN_TASK
.env
.kitchen.ec2.yml
.kitchen.yml
bundler/
cache/

